.status-toast {
  border-radius: 4px;
  padding: 4px 16px;
  margin: 16px auto;
  width: fit-content;
}

.status-toast.success {
  color: rgba(0, 255, 0, 0.95);
  background-color: rgba(0, 255, 0, 0.25);
  border: 1px solid rgba(0, 255, 0, 0.5);
}

.status-toast.error {
  color: rgba(255, 0, 0, 0.95);
  background-color: rgba(255, 0, 0, 0.25);
  border: 1px solid rgba(255, 0, 0, 0.5);
}